@import '../../../../styles/variables.scss';

.container {
  max-width: 400px;
  padding: 20px;
  width: 100%;
  background-color: var(#{--components-background-default});
  box-shadow: var(#{--card-shadow-default});
  border-radius: $border-radius;
  margin-right: 50px;
  transition: $transition-color;

  .top_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .top_block_inf {
      .temp {
        font-size: 96px;
        font-weight: 500;
        color: $primary-color;
      }
      .title {
        font-size: 40px;
        font-weight: 500;
        color: var(#{--text-color-default});
        transition: $transition-color;
      }
    }

    .svg_block {
      svg {
        width: 119px;
        height: 119px;
      }
    }
  }

  .bottom_block {
    .time,
    .city {
      color: $base-color;
      font-size: 25px;
    }
  }
}
